.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto

/.quarto/
gadm
./.quarto/_freeze/indonesia/execute-results/html.json
.quarto/_freeze/indonesia/execute-results/html.json
.quarto/_freeze/indonesia/execute-results/html.json
