
/*-- scss:fonts --*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

/*-- scss:defaults --*/
$body-bg: #faf7f2;
$link-color: #333333;
$font-family-sans-serif: 'Work Sans Light', sans-serif;
$font-family-monospace: 'IBM Plex Mono', monospace;




/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Hind Madurai', sans-serif;
}

.g-col-4 {
    display: flex;
}

div.callout-note.callout {
    border-left-color: $link-color;
}

.callout.callout-style-simple {
	padding: .4em .7em;
	border-left: 5px solid;
	border-right: 1px solid $link-color;
	border-top: 1px solid $link-color;
	border-bottom: 1px solid $link-color;
}